<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../styles/css/reset.css" />
    <link rel="stylesheet" href="../styles/css/general.css" />
    <link rel="stylesheet" href="../styles/css/MainPage.css" />
    <link rel="stylesheet" href="../styles/css/grids.css" />
    <title>Южный банк</title>
  </head>
  <body>
    <header class="top-menu">
      <div class="top-menu__container">
        <img src="../assets/Icon/menuBurger.svg" class="top-menu__burger" />
        <img class="top-menu__logo" src="../assets/Logotype/logo.svg" />
        <div class="top-menu__item">Частным лицам</div>
        <div class="top-menu__item">Бизнесу</div>
        <div class="top-menu__item">О банке</div>
        <div class="top-menu__item">Новости</div>
        <div class="top-menu__item">Офисы и отделения</div>
        <div class="personal-area">
          <img class="top-menu__icon" src="../assets/Icon/Reserch.svg" />
          <img class="top-menu__icon" src="../assets/Icon/User.svg" />
          <div class="top-menu__item">Личный кабинет</div>
        </div>
      </div>
    </header>

    <div class="top-block">
      <div class="top-block__bg-image">
        <div class="top-block__container">
          <div class="header">Отпуск ближе, чем кажется</div>
          <div class="top-block__sub-header">
            Планируете незабываемый отдых? Мы предлагаем оформить кредит
            наличными по специальной ставке от 7,5% Онлайн решение за 1 минуту
          </div>
          <button class="reset-button top-block__primary-button primary-button">
            Оформить кредит
          </button>
          <button
            class="reset-button top-block__secondary-button secondary-button"
          >
            Калькулятор
          </button>
        </div>
      </div>
    </div>

    <aside class="info-section">
      <div class="info-section__container">
        <div class="info-block">
          <div class="info-block__text">
            <h3 class="info-block__sub-header">Кредит</h3>
            <h1 class="info-block__header">от 8%</h1>
            <div class="info-block__subtext">
              Планируйте покупки, а о деньгах позаботимся мы
            </div>
          </div>
          <button class="reset-button mint-button">Подробнее</button>
        </div>
        <div class="info-block">
          <div class="info-block__text">
            <h3 class="info-block__sub-header">Кредит</h3>
            <h1 class="info-block__header">от 8%</h1>
            <div class="info-block__subtext">
              Планируйте покупки, а о деньгах позаботимся мы
            </div>
          </div>
          <button class="reset-button mint-button">Подробнее</button>
        </div>
        <div class="info-block">
          <div class="info-block__text">
            <h3 class="info-block__sub-header">Кредит</h3>
            <h1 class="info-block__header">от 8%</h1>
            <div class="info-block__subtext">
              Планируйте покупки, а о деньгах позаботимся мы
            </div>
          </div>
          <button class="reset-button mint-button">Подробнее</button>
        </div>
        <div class="info-block">
          <div class="info-block__text">
            <h3 class="info-block__sub-header">Кредит</h3>
            <h1 class="info-block__header">от 8%</h1>
            <div class="info-block__subtext">
              Планируйте покупки, а о деньгах позаботимся мы
            </div>
          </div>
          <button class="reset-button mint-button">Подробнее</button>
        </div>
      </div>
    </aside>

    <aside class="news-section">
      <div class="header-mini">Новости</div>
      <div class="row">
        <div class="col-lg-3 col-md-3">
          <div class="value">
            <div class="value-block">
              <div class="value-block__header">Курсы валют</div>
              <div class="value-block__sub-header">На 10.03.2020, 20:00</div>
              <div class="value-text">
                <div class="value-text__name">USD</div>
                <div class="value-text__currency">70,25</div>
                <div class="value-text__currency">70,50</div>
                <img src="../assets/Icon/upArrow.svg" />
              </div>
              <div class="value-text">
                <div class="value-text__name">USD</div>
                <div class="value-text__currency">70,25</div>
                <div class="value-text__currency">70,50</div>
                <img src="../assets/Icon/upArrow.svg" />
              </div>
              <button class="reset-button value-block__blue-button">
                Посмотреть все
              </button>
            </div>

            <div class="value-block">
              <div class="value-block__header">Курсы валют</div>
              <div class="value-block__sub-header">На 10.03.2020, 20:00</div>
              <div class="value-text">
                <div class="value-text__name">USD</div>
                <div class="value-text__currency">70,25</div>
                <div class="value-text__currency">70,50</div>
                <img src="../assets/Icon/upArrow.svg" />
              </div>
              <div class="value-text">
                <div class="value-text__name">USD</div>
                <div class="value-text__currency">70,25</div>
                <div class="value-text__currency">70,50</div>
                <img src="../assets/Icon/upArrow.svg" />
              </div>
              <button class="reset-button value-block__blue-button">
                Посмотреть все
              </button>
            </div>
          </div>
        </div>

        <div class="col-lg-9 col-md-9">
          <div class="articles-block">
            <div class="two-news">
              <div class="new-article">
                <img src="../assets/Image/newsFlowers.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк сообщает об изменении режима работы в связи с
                    празднованием 8 Марта
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>

              <div class="new-article">
                <img src="../assets/Image/newsBuilding.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк поддержит финансово строительство школы в
                    Калинограде
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>
            </div>

            <div class="two-news">
              <div class="new-article">
                <img src="../assets/Image/newsMoney.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк снижает ставки по кредитам наличными до 7,5%
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>

              <div class="new-article">
                <img src="../assets/Image/newsTechnology.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк размещает однодневные облигации
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>
            </div>

            <div class="two-news">
              <div class="new-article">
                <img src="../assets/Image/newsMoney.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк снижает ставки по кредитам наличными до 7,5%
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>

              <div class="new-article">
                <img src="../assets/Image/newsTechnology.jpg" />
                <div class="new-article__description">
                  <p class="new-article__text">
                    Южный Банк размещает однодневные облигации
                  </p>
                  <div class="new-article__text--gray">7.03.2020</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </aside>

    <aside class="map-block">
      <div class="map-block__container">
        <div class="header-mini">Офисы и отделения</div>
        <div class="row">
          <div class="col-xl-3 col-lg-4 col-md-5">
            <div class="map-block__city">
              <div class="map-block__city-select">Москва</div>
              <img
                src="../assets/Icon/miniArrowBlue.svg"
                class="map-block__arrow"
              />
              <div class="map-block__city-select">Сокол</div>
              <img
                src="../assets/Icon/miniArrowBlue.svg"
                class="map-block__arrow"
              />
            </div>
            <div class="map-block__text">
              <div class="map-block__text-bold">
                <img src="../assets/Icon/maps-and-flags.svg" />
                Партийный переулок д. 1, корп.7, стр. 2
                <br />Ближайшие станции метро: <br />Добрынинская, Серпуховская
              </div>
              <div class="map-block__subtext">
                Телефон: +7(495) 664-73-44, <br />
                Режим работы офиса: <br />Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
              </div>
            </div>
            <div class="map-block__text">
              <div class="map-block__text-bold">
                <img src="../assets/Icon/maps-and-flags.svg" />
                Партийный переулок д. 1, корп.7, стр. 2
                <br />Ближайшие станции метро: <br />Добрынинская, Серпуховская
              </div>
              <div class="map-block__subtext">
                Телефон: +7(495) 664-73-44, <br />
                Режим работы офиса: <br />Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
              </div>
            </div>
            <div class="map-block__text">
              <div class="map-block__text-bold">
                <img src="../assets/Icon/maps-and-flags.svg" />
                Партийный переулок д. 1, корп.7, стр. 2
                <br />Ближайшие станции метро: <br />Добрынинская, Серпуховская
              </div>
              <div class="map-block__subtext">
                Телефон: +7(495) 664-73-44, <br />
                Режим работы офиса: <br />Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
              </div>
            </div>
            <div class="map-block__text">
              <div class="map-block__text-bold">
                <img src="../assets/Icon/maps-and-flags.svg" />
                Партийный переулок д. 1, корп.7, стр. 2
                <br />Ближайшие станции метро: <br />Добрынинская, Серпуховская
              </div>
              <div class="map-block__subtext">
                Телефон: +7(495) 664-73-44, <br />
                Режим работы офиса: <br />Пн - Чт: 9.30 - 17.30 Пт: 9.30 - 16.15
              </div>
            </div>
          </div>

          <div class="col-xl-9 col-lg-8 col-md-7">
            <div class="map-block__card">На карте</div>
            <div class="map-block__image"></div>
          </div>
        </div>
      </div>
    </aside>

    <footer class="bottom-menu">
      <div class="row">
        <div class="col-xl-2 col-lg-3 col-md-3">
          <div class="bottom-menu__name-option">Частным лицам</div>
          <div class="bottom-menu__option">Кредитование</div>
          <div class="bottom-menu__option">Денежные переводы</div>
          <div class="bottom-menu__option">Сейфовые ячейки</div>
          <div class="bottom-menu__option">Ипотека</div>
          <div class="bottom-menu__option">Вклады</div>
        </div>
        <div class="col-xl-2 col-lg-3 col-md-3">
          <div class="bottom-menu__name-option">Бизнесу</div>
          <div class="bottom-menu__option">Кредитование</div>
          <div class="bottom-menu__option">Денежные переводы</div>
          <div class="bottom-menu__option">Сейфовые ячейки</div>
        </div>
        <div class="col-xl-3 col-lg-4 col-md-4">
          <div class="bottom-menu__name-option">Финансовым институтам</div>
          <div class="bottom-menu__option">Кредитование</div>
          <div class="bottom-menu__option">Денежные переводы</div>
          <div class="bottom-menu__option">Сейфовые ячейки</div>
          <div class="bottom-menu__option">Ипотека</div>
        </div>
        <div class="col-xl-2 col-lg-2 col-md-2">
          <div class="bottom-menu__name-option">Южный банк</div>
          <div class="bottom-menu__option">Кредитование</div>
          <div class="bottom-menu__option">Денежные переводы</div>
        </div>
        <div class="col-xl-3 col-lg-8">
          <div class="bottom-menu__contact-block">
            <div class="bottom-menu__name-block">Контакты</div>
            <div
              class="bottom-menu__contacts-option bottom-menu__contacts-option--hidden-tablet"
            >
              <div class="bottom-menu__option-block">8 (800) 980 62 62</div>
              <div class="bottom-menu__option-block--gray">
                Бесплатный звонок по Москве
              </div>
            </div>
            <div class="bottom-menu__contacts-option">
              <div class="bottom-menu__option-block">8 (800) 980 62 62</div>
              <div class="bottom-menu__option-block--gray">
                Бесплатный звонок по России
              </div>
            </div>
            <div class="bottom-menu__icons">
              <img
                src="../assets/Icon/facebook.svg"
                class="bottom-menu__icon"
              />
              <img
                src="../assets/Icon/instagram.svg"
                class="bottom-menu__icon"
              />
              <img src="../assets/Icon/twitter.svg" class="bottom-menu__icon" />
              <img
                src="../assets/Icon/whatsapp.svg"
                class="bottom-menu__icon"
              />
            </div>
          </div>
        </div>
      </div>
    </footer>
  </body>
</html>
